@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.leaflet-container{
  height: 75vh;
  z-index: 1;
}
body{
  background-color: #334155;
}
